@charset "utf-8";
/* --------------------------------------------
::::::: resets and fixes ::::::::::::::::::::::
----------------------------------------------- */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:hover,
a:active {
  outline: 0;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  height: auto;
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: inherit;
}

button,
input {
  *overflow: visible;
  line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before, q:after {
  content: '';
}

abbr, acronym {
  border: 0;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
  clear: both;
  display: block;
  overflow: visible;
}

/* --------------------------------------------
::::::: main styles :::::::::::::::::::::::::::
----------------------------------------------- */
.bg-sb-slategray {
  background-color: #1d1e19 !important;
}

.fg-sb-slategray {
  color: #1d1e19 !important;
}

.bg-sb-gray {
  background-color: #615e4b !important;
}

.fg-sb-gray {
  color: #615e4b !important;
}

.bg-sb-graylight {
  background-color: #8c886d !important;
}

.fg-sb-graylight {
  color: #8c886d !important;
}

.bg-sb-white {
  background-color: #f6f6e4 !important;
}

.fg-sb-white {
  color: #f6f6e4 !important;
}

.bg-sb-orange {
  background-color: #fa841e !important;
}

.fg-sb-orange {
  color: #fa841e !important;
}

.bg-sb-purple {
  background-color: #9c65fa !important;
}

.fg-sb-purple {
  color: #9c65fa !important;
}

.bg-sb-blue {
  background-color: #54d1ea !important;
}

.fg-sb-blue {
  color: #54d1ea !important;
}

.bg-sb-yellow {
  background-color: #dfcc4e !important;
}

.fg-sb-yellow {
  color: #dfcc4e !important;
}

.bg-sb-green {
  background-color: #77d622 !important;
}

.fg-sb-green {
  color: #77d622 !important;
}

.bg-sb-magenta {
  background-color: #f3005f !important;
}

.fg-sb-magenta {
  color: #f3005f !important;
}

.bg-navy {
  background-color: #001f3f !important;
}

.fg-navy {
  color: #001f3f !important;
}

.bg-blue {
  background-color: #0074d9 !important;
}

.fg-blue {
  color: #0074d9 !important;
}

.bg-cyan {
  background-color: #7fdbff !important;
}

.fg-cyan {
  color: #7fdbff !important;
}

.bg-teal {
  background-color: #39cccc !important;
}

.fg-teal {
  color: #39cccc !important;
}

.bg-olive {
  background-color: #3d9970 !important;
}

.fg-olive {
  color: #3d9970 !important;
}

.bg-green {
  background-color: #2ecc40 !important;
}

.fg-green {
  color: #2ecc40 !important;
}

.bg-lime {
  background-color: #01ff70 !important;
}

.fg-lime {
  color: #01ff70 !important;
}

.bg-yellow {
  background-color: #ffdc00 !important;
}

.fg-yellow {
  color: #ffdc00 !important;
}

.bg-orange {
  background-color: #ff851b !important;
}

.fg-orange {
  color: #ff851b !important;
}

.bg-red {
  background-color: #ff4136 !important;
}

.fg-red {
  color: #ff4136 !important;
}

.bg-magenta {
  background-color: #f012be !important;
}

.fg-magenta {
  color: #f012be !important;
}

.bg-purple {
  background-color: #b10dc9 !important;
}

.fg-purple {
  color: #b10dc9 !important;
}

.bg-maroon {
  background-color: #85144b !important;
}

.fg-maroon {
  color: #85144b !important;
}

.bg-white {
  background-color: white !important;
}

.fg-white {
  color: white !important;
}

.bg-gray {
  background-color: #aaaaaa !important;
}

.fg-gray {
  color: #aaaaaa !important;
}

.bg-silver {
  background-color: #dddddd !important;
}

.fg-silver {
  color: #dddddd !important;
}

.bg-black {
  background-color: #111111 !important;
}

.fg-black {
  color: #111111 !important;
}

.bg-fav-orange-light {
  background-color: #fea100 !important;
}

.fg-fav-orange-light {
  color: #fea100 !important;
}

.bg-fav-orange-middle {
  background-color: #f98e1f !important;
}

.fg-fav-orange-middle {
  color: #f98e1f !important;
}

.bg-fav-orange-dark {
  background-color: #e46119 !important;
}

.fg-fav-orange-dark {
  color: #e46119 !important;
}

.bg-fav-pink-shock {
  background-color: #fc3769 !important;
}

.fg-fav-pink-shock {
  color: #fc3769 !important;
}

.bg-fav-purple-light {
  background-color: #9e4784 !important;
}

.fg-fav-purple-light {
  color: #9e4784 !important;
}

.bg-fav-purple-middle {
  background-color: #89326f !important;
}

.fg-fav-purple-middle {
  color: #89326f !important;
}

.bg-fav-purple-dark {
  background-color: #4d1e40 !important;
}

.fg-fav-purple-dark {
  color: #4d1e40 !important;
}

.bg-fav-green-light {
  background-color: #78b600 !important;
}

.fg-fav-green-light {
  color: #78b600 !important;
}

.bg-fav-green-dark {
  background-color: #568300 !important;
}

.fg-fav-green-dark {
  color: #568300 !important;
}

.bg-fav-beige-light {
  background-color: #f2f2ea !important;
}

.fg-fav-beige-light {
  color: #f2f2ea !important;
}

.bg-fav-beige-dark {
  background-color: #e8e6da !important;
}

.fg-fav-beige-dark {
  color: #e8e6da !important;
}

.bg-fav-occre-light {
  background-color: #807067 !important;
}

.fg-fav-occre-light {
  color: #807067 !important;
}

.bg-fav-occre-middle {
  background-color: #6b5b54 !important;
}

.fg-fav-occre-middle {
  color: #6b5b54 !important;
}

.bg-fav-occre-dark {
  background-color: #352f2b !important;
}

.fg-fav-occre-dark {
  color: #352f2b !important;
}

.bg-fav-coffee {
  background-color: #4c3000 !important;
}

.fg-fav-coffee {
  color: #4c3000 !important;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
}

header {
  width: 100%;
  height: 40px;
  background: #352f2b;
  z-index: 2;
}

header,
header a {
  color: #f2f2ea;
  text-decoration: none;
}

section,
aside,
footer {
  padding: 30px;
}
@media (max-width: 767px) {
  section,
  aside,
  footer {
    padding: 4%;
  }
}
@media (max-width: 480px) {
  section,
  aside,
  footer {
    padding: 3%;
  }
}

.content {
  max-width: 1234px;
  margin: 0 auto;
  position: relative;
}

.heading-two,
.heading-three {
  color: #352f2b;
}

.heading-two {
  margin-bottom: 15px;
  font-size: 28px;
}
@media (max-width: 767px) {
  .heading-two {
    font-size: 24px;
  }
}

.heading-three {
  margin-bottom: 10px;
  font-size: 24px;
}
@media (max-width: 767px) {
  .heading-three {
    font-size: 20px;
  }
}

.heading-four {
  margin-bottom: 8px;
  font-size: 20px;
}
@media (max-width: 767px) {
  .heading-four {
    font-size: 18px;
  }
}

.heading-five {
  margin-bottom: 8px;
  font-size: 18px;
}
@media (max-width: 767px) {
  .heading-five {
    font-size: 16px;
  }
}

.heading-six {
  margin-bottom: 6px;
  font-size: 16px;
}
@media (max-width: 767px) {
  .heading-six {
    font-size: 14px;
  }
}

.rounded {
  border-radius: 100%;
}

.pos-absolute {
  position: absolute;
}

.last-right {
  margin-right: 0 !important;
}

.last-left {
  margin-left: 0 !important;
}

.last-bottom {
  margin-bottom: 0 !important;
}

.margin-bottom-default {
  margin-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.text-shadow-dark {
  text-shadow: 0 1px 1px #111111;
}

.text-shadow-light {
  text-shadow: 0 1px 1px white;
}

.gradient-topleft-beige {
  background-image: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #f2f2ea), color-stop(100%, #e8e6da));
  background-image: -webkit-linear-gradient(left top, #f2f2ea, #e8e6da);
  background-image: -moz-linear-gradient(left top, #f2f2ea, #e8e6da);
  background-image: -o-linear-gradient(left top, #f2f2ea, #e8e6da);
  background-image: linear-gradient(left top, #f2f2ea, #e8e6da);
}

.logo {
  position: absolute;
  top: 2px;
  left: 30px;
  font-size: 26px;
}
@media (max-width: 767px) {
  .logo {
    left: 70px;
  }
}

.nav-default {
  right: 15px;
}

.nav-default__item {
  margin-right: 15px;
  padding: 9px 0 4px;
  display: inline-block;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #352f2b;
}
.nav-default__item.current {
  border-bottom-color: #f2f2ea;
}

.list-bullet {
  margin: 0 0 15px 30px;
  line-height: 25px;
}
.list-bullet i {
  font-size: 16px;
  margin-right: 15px;
}

.list-share {
  margin: -2%;
}
.list-share i {
  position: relative;
  top: 15px;
  font-size: 40px;
  text-shadow: none;
}

.list-share__wrapper {
  height: 70px;
  text-align: center;
}

.list-share__item {
  display: inline-block;
  margin: 0 2%;
}

.list-share__item__link {
  display: block;
  width: 70px;
  height: 70px;
  text-align: center;
}

.events {
  margin: 0 -5px;
}

.events__item {
  margin: 0 5px 15px;
  text-align: center;
  display: inline-block;
}
@media (min-width: 1137px) {
  .events__item {
    width: 23.8%;
  }
}
@media (max-width: 1136px) {
  .events__item {
    width: 23.7%;
  }
}
@media (max-width: 1050px) {
  .events__item {
    width: 23.6%;
  }
}
@media (max-width: 980px) {
  .events__item {
    width: 23.4%;
  }
}
@media (max-width: 864px) {
  .events__item {
    width: 23.2%;
  }
}
@media (max-width: 776px) {
  .events__item {
    width: 23%;
  }
}
@media (max-width: 767px) {
  .events__item {
    width: 31.4%;
  }
}
@media (max-width: 704px) {
  .events__item {
    width: 31.2%;
  }
}
@media (max-width: 636px) {
  .events__item {
    width: 31%;
  }
}
@media (max-width: 580px) {
  .events__item {
    width: 47%;
  }
}
@media (max-width: 420px) {
  .events__item {
    width: 96%;
  }
}

.events__item--name,
.events__item--date {
  margin-bottom: 4px;
}

.events__item--supporter {
  width: 100%;
}

.color-bar,
.color-bar__item {
  font-size: 0;
}

.color-bar {
  margin: 0;
  padding: 0;
}

.color-bar__item {
  display: inline-block;
  height: 5px;
  width: 10%;
}

#overlay-nav-menu-close {
  background: none;
  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.page {
  width: 100%;
  height: 100%;
}

.nav-phone__toggle {
  top: 5px;
  left: 15px;
  font-size: 26px;
  line-height: 28px;
}
.nav-phone__toggle:hover, .nav-phone__toggle:active, .nav-phone__toggle:visited {
  color: white !important;
}

.nav-phone {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 170px;
  background-color: #515151;
  box-shadow: inset 0 0 10px #242424;
  display: none;
  overflow-y: auto;
}

.nav-phone__item {
  border-top: 1px solid #888888;
  border-bottom: 1px solid #313131;
  text-shadow: 0 1px 1px #333333;
}
.nav-phone__item.first, .nav-phone__item.current {
  border-top: none;
}
.nav-phone__item.current {
  background-color: #111111;
}
.nav-phone__item a {
  display: block;
  padding: 12px 10px 12px 20px;
  text-decoration: none;
  color: #fefefe;
}

.nav-phone-is-collapsed body {
  overflow-x: auto;
}
.nav-phone-is-collapsed .nav-phone {
  display: none;
}
.nav-phone-is-collapsed .page {
  -webkit-transition: 0.2s, -webkit-transform, ease;
  -moz-transition: 0.2s, -moz-transform, ease;
  -o-transition: 0.2s, -o-transform, ease;
  transition: 0.2s, transform, ease;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

.nav-phone-is-expanded {
  overflow: hidden !important;
}
.nav-phone-is-expanded body {
  overflow: hidden !important;
}
.nav-phone-is-expanded .nav-phone {
  display: block;
}
.nav-phone-is-expanded .page {
  overflow-x: hidden !important;
  -webkit-transform: translateX( 170px );
  -moz-transform: translateX( 170px );
  -ms-transform: translateX( 170px );
  -o-transform: translateX( 170px );
  transform: translateX( 170px );
}

/* --------------------------------------------
::::::: responsive style ::::::::::::::::::::::
----------------------------------------------- */
.hidden {
  display: none;
  visibility: hidden;
}

.visible-regular {
  display: block;
}

.hidden-regular {
  display: none;
}

@media (max-width: 480px) {
  .visible-palm {
    display: block;
  }

  .visible-lap {
    display: none;
  }

  .visible-portable {
    display: block;
  }

  .visible-desk {
    display: none;
  }

  .hidden-palm {
    display: none;
  }

  .hidden-lap {
    display: block;
  }

  .hidden-portable {
    display: none;
  }

  .hidden-desk {
    display: block;
  }
}
@media (min-width: 481px) and (max-width: 1023px) {
  .visible-palm {
    display: none;
  }

  .visible-lap {
    display: block;
  }

  .visible-portable {
    display: block;
  }

  .visible-desk {
    display: block;
  }

  .hidden-palm {
    display: block;
  }

  .hidden-lap {
    display: none;
  }

  .hidden-portable {
    display: none;
  }

  .hidden-desk {
    display: none;
  }
}
@media (max-width: 1023px) {
  .visible-palm {
    display: block;
  }

  .visible-lap {
    display: block;
  }

  .visible-portable {
    display: block;
  }

  .visible-desk {
    display: none;
  }

  .hidden-palm {
    display: none;
  }

  .hidden-lap {
    display: none;
  }

  .hidden-portable {
    display: none;
  }

  .hidden-desk {
    display: block;
  }
}
@media (min-width: 1024px) {
  .visible-palm {
    display: none;
  }

  .visible-lap {
    display: none;
  }

  .visible-portable {
    display: none;
  }

  .visible-desk {
    display: block;
  }

  .hidden-palm {
    display: block;
  }

  .hidden-lap {
    display: block;
  }

  .hidden-portable {
    display: block;
  }

  .hidden-desk {
    display: none;
  }
}
.visible-phone {
  display: none;
}

.visible-tablet {
  display: none;
}

.visible-desktop {
  display: block;
}

.hidden-phone {
  display: block;
}

.hidden-tablet {
  display: block;
}

.hidden-desktop {
  display: none;
}

@media (max-width: 767px) {
  .visible-phone {
    display: block;
  }

  .hidden-phone {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }

  .visible-desktop {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: block;
  }

  .hidden-tablet {
    display: none;
  }

  .hidden-desktop {
    display: block;
  }

  .visible-desktop {
    display: none;
  }
}
