@import "variables";

// structure

header {
    position: fixed;
    width: 100%;
    height: $header-height;
    background: $cl-header-bkg;
    z-index: 2;
}
header,
header a {
    color: white;
    text-decoration: none;
}
section {
    padding: 30px;
    @media (max-width: 767px) { padding: 4%; }
    @media (max-width: 480px) { padding: 3%; }
}
main,
footer {
    // compensate for the header's position fixed with the two properties below
    position: relative;
    top: $header-height;
}
.heading-two {
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: 767px) { font-size: 20px; }
}
.heading-three {
    margin-bottom: 8px;
    font-size: 20px;
    @media (max-width: 767px) { font-size: 18px; }
}
.heading-four {
    margin-bottom: 8px;
    font-size: 18px;
    @media (max-width: 767px) { font-size: 16px; }
}
.heading-five {
    margin-bottom: 6px;
    font-size: 16px;
    @media (max-width: 767px) { font-size: 14px; }
}
.heading-six {
    margin-bottom: 6px;
    font-size: 14px;
    @media (max-width: 767px) { font-size: 12px; }
}
.rounded {
    border-radius: 100%;
}
.pos-absolute {
    position: absolute;
}
.last-right {
    margin-right: 0 !important;
}
.last-left {
    margin-left: 0 !important;
}
.last-bottom {
    margin-bottom: 0 !important;
}

// navigation

.nav-phone__toggle,
.logo {
    top: 5px;
    font-size: 26px;
}
.nav-phone__toggle {
    left: 15px;
}
.logo {
    left: 70px;
}
.nav-default {
    right: 15px;
}
.nav-default__item {
    margin-right: 15px;
    padding: 10px 0 6px;
    display: inline-block;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: $cl-header-bkg;
    &.selected { border-bottom-color: white; }
}

// events

.events {
    margin: 0 -5px;
}
.events__item {
    width: 160px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}
.events__item--supporter {
    height: 160px;
    width: 160px;
}
.events__item--name {}
.events__item--date {}
.events__item--description {}
