@import "variables";

section {
    padding: 30px;
    @media (max-width: 767px) { padding: 10%; }
    @media (max-width: 480px) { padding: 5%; }
}

.heading-two {
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: 767px) { font-size: 20px; }
}

.rounded {
    border-radius: 100%;
}

.events {
    margin: 0 -5px;
}
.events__item {
    width: 160px;
    margin: 0 5px;
    text-align: center;
    display: inline-block;
}
.events__item--supporter {
    height: 160px;
    width: 160px;
}
.events__item--name {}
.events__item--date {}
.events__item--description {}
