@import "variables";

// structure

header {
    width: 100%;
    height: $header-height;
    background: $cl-header-bkg;
    z-index: 2;
}
header,
header a {
    color: white;
    text-decoration: none;
}
section {
    padding: 30px;
    @media (max-width: 767px) { padding: 4%; }
    @media (max-width: 480px) { padding: 3%; }
}
.heading-two {
    margin-bottom: 15px;
    font-size: 28px;
    @media (max-width: 767px) { font-size: 24px; }
}
.heading-three {
    margin-bottom: 10px;
    font-size: 24px;
    @media (max-width: 767px) { font-size: 20px; }
}
.heading-four {
    margin-bottom: 8px;
    font-size: 20px;
    @media (max-width: 767px) { font-size: 18px; }
}
.heading-five {
    margin-bottom: 8px;
    font-size: 18px;
    @media (max-width: 767px) { font-size: 16px; }
}
.heading-six {
    margin-bottom: 6px;
    font-size: 16px;
    @media (max-width: 767px) { font-size: 14px; }
}
.rounded {
    border-radius: 100%;
}
.pos-absolute {
    position: absolute;
}
.last-right {
    margin-right: 0 !important;
}
.last-left {
    margin-left: 0 !important;
}
.last-bottom {
    margin-bottom: 0 !important;
}
.margin-bottom-default {
    margin-bottom: 15px;
}

// navigation

.logo {
    top: 2px;
    left: 70px;
    font-size: 26px;
}
.nav-default {
    right: 15px;
}
.nav-default__item {
    margin-right: 15px;
    padding: 9px 0 4px;
    display: inline-block;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: $cl-header-bkg;
    &.selected { border-bottom-color: white; }
}

// lists

.list-bullet {
    margin: 0 0 15px 30px;
    line-height: 25px;
    i {
        font-size: 16px;
        margin-right: 15px;
    }
}

// events

.events {
    margin: 0 -5px;
}
.events__item {
    margin: 0 5px 15px;
    text-align: center;
    display: inline-block;
    @media (min-width: 1137px) { width: 23.8%; }
    @media (max-width: 1136px) { width: 23.7%; }
    @media (max-width: 1050px) { width: 23.6%; }
    @media (max-width: 980px) { width: 23.4%; }
    @media (max-width: 864px) { width: 23.2%; }
    @media (max-width: 776px) { width: 23%; }
    @media (max-width: 767px) { width: 31.4%; }
    @media (max-width: 704px) { width: 31.2%; }
    @media (max-width: 636px) { width: 31%; }
    @media (max-width: 580px) { width: 47%; }
    @media (max-width: 420px) { width: 96%; }
}
.events__item--name,
.events__item--date {
    margin-bottom: 4px;
}
.events__item--supporter {
    width: 100%;
}
.events__item--name {}
.events__item--date {}
.events__item--description {}

// miscelaneous
