// colors - sublime

$cl-sb-slategray:   #1d1e19;
$cl-sb-gray:        #615e4b;
$cl-sb-graylight:   #8c886d;
$cl-sb-white:       #f6f6e4;
$cl-sb-orange:      #fa841e;
$cl-sb-purple:      #9c65fa;
$cl-sb-blue:        #54d1ea;
$cl-sb-yellow:      #dfcc4e;
$cl-sb-green:       #77d622;
$cl-sb-magenta:     #f3005f;

// colors - other
