@import "variables-colors";

// fonts
$path-fonts: "../fonts";
$font-fallback: arial, sans-serif;

// header styles
$clv-header-bkg: $cl-fav-occre-dark;
$header-height: 40px;

// padding and margin values for content
$padding-default: 30px;
$padding-767px: 4%;
$padding-480px: 3%;
$max-width-content: 1234px;
