// this is compiled to a dedicated file because Firefox 20+ has a bug that doesn't render web fonts properly
// requires 'src/js/webfont-loader.js'

@import "variables";

@font-face {
  font-family: 'DobraMedium';
  src: url("#{$path-fonts}/dobra-medium-DobraMedium.eot");
  src: url("#{$path-fonts}/dobra-medium-DobraMedium.eot?#iefix") format("embedded-opentype"), url("#{$path-fonts}/dobra-medium-DobraMedium.woff") format("woff"), url("#{$path-fonts}/dobra-medium-DobraMedium.ttf") format("truetype"), url("#{$path-fonts}/dobra-medium-DobraMedium.svg#DobraMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DobraSlabMedium';
  src: url("#{$path-fonts}/dobraslab-medium-DobraSlab.eot");
  src: url("#{$path-fonts}/dobraslab-medium-DobraSlab.eot?#iefix") format("embedded-opentype"), url("#{$path-fonts}/dobraslab-medium-DobraSlab.woff") format("woff"), url("#{$path-fonts}/dobraslab-medium-DobraSlab.ttf") format("truetype"), url("#{$path-fonts}/dobraslab-medium-DobraSlab.svg#DobraSlabMedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DobraBook';
  src: url("#{$path-fonts}/dobra-book-DobraBook.eot");
  src: url("#{$path-fonts}/dobra-book-DobraBook.eot?#iefix") format("embedded-opentype"), url("#{$path-fonts}/dobra-book-DobraBook.woff") format("woff"), url("#{$path-fonts}/dobra-book-DobraBook.ttf") format("truetype"), url("#{$path-fonts}/dobra-book-DobraBook.svg#DobraBook") format("svg");
  font-weight: normal;
  font-style: normal;
}

.dobra-medium,
.wf-active .dobra-medium {
  font-family: 'DobraMedium', $font-fallback;
}
.dobra-slabmedium,
.wf-active .dobra-slabmedium {
  font-family: 'DobraSlabMedium', $font-fallback;
}
.dobra-book,
.wf-active .dobra-book {
  font-family: 'DobraBook', $font-fallback;
}

.wf-loading {
  .dobra-medium,
  .dobra-slabmedium,
  .dobra-book {
    font-family: $font-fallback;
  }
}

.wf-inactive {
  .dobra-medium,
  .dobra-slabmedium,
  .dobra-book {
    font-family: $font-fallback;
  }
}

// font open-sans - for body text
@import "font-opensans";
// font awesome - for icons
@import "font-awesome";
